/*
Project Name: Relaxr Two Column Layout
Client: Relaxr
Author: Deanna DeStefano
Developer @GA in NYC
*/


/*******************************************/
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*******************************************/
/* BASE STYLES
/*******************************************/

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

body {
  color: black;
  font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

button {
  background-color: yellow;
  border-radius: 3px;
  border: none;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  height: 51px;
  width: 100%;
  padding: 0px 25px;
  box-shadow: 0px 3px 0px #c6cc00;
}

#mobile-nav-btn {
  background-color: black;
  background-image: url("../images/hamburger.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 10px;
  width: 51px;
  box-shadow: none;
}

h1, h2, h3, h4 {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 700;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  color: black;
  margin-bottom: 10px;
}

header {
  background: black;
  border-bottom: 3px solid yellow;
  box-shadow: 0px 2px 0px rgba(0,0,0,.5);
}
header h1.logo {
  color: yellow;
}

nav a {
  color: white;
}


.logo {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: .02em;
}

header nav ul {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.find-items {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.tagline-container {
  background-color: #c6c6c6;
  border-top: 1px solid rgba(0,0,0,.10);
}

.tagline-container h1 {
  color: black;
  font-size: 24px;
  font-style: italic;
}

.tagline-strikethrough {
  color: #999999;
  text-decoration: line-through;
}

.tagline-emphasis {
  border-bottom: 3px solid yellow;
}

.call-to-action-container {
  background-image: url("../images/coworking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 1px 4px rgba(0,0,0,.20);
}

.create-profile {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0px 0px 8px rgba(0,0,0,.25);
}

div.create-profile h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.secondary-ctas-container {
  box-shadow: 0px -3px 10px rgba(0,0,0,.5);
}

.footer-copyright {
  color: white;
  letter-spacing: .05em;
  font-size: 15px;
  font-weight: 700;
}


/*******************************************/
/* LAYOUT
/*******************************************/

/* Center the container */

#container {
  width: 100%;
  margin: auto;
  height: 500px;
}


/*******************************************/
/* DESKTOP
/*******************************************/

@media (min-width: 769px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  header {
    width: 100%;
    height:125px;
    padding: 20px 2%;
  }
  header nav {
    display: block;
    float: right;
  }
 header h1.logo {
    display: block;
    float: left;
    margin-bottom: 15px;
    width: 100%;
  }
  ul.header-nav-ul {
    display: inline;
    float: right;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: right;
  }
  nav ul li {
    display: inline;
    padding-left: 20px;
  }
  #mobile-nav-btn {
    display: none;
    /*visibility: hidden;*/
  }
  #content-wrapper {
    background-color: white;
    padding: 60;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .tagline-container {
    width: 100%;
    height: 70px;
    padding: 15px 0;
    text-align: center;
    box-sizing: border-box;
  }
  .call-to-action-container {
    height: 447px;
    padding: 22px 22px 22px 0px;
    box-sizing: border-box;
  }
  div.create-profile h2 {
    margin-bottom: 10px;
  }
  div.create-profile p {
    margin-bottom: 20px;
  }
  .create-profile {
  float: right;
  padding: 3%;
  height: 100%;
  width: 33.333333333%;
  box-sizing: border-box;
  }
  .secondary-ctas-container {
  height: 350px;
  padding: 2% 0% 3% 0%;
  display: flex;
  flex-direction: row;
  }
  .cta-modules {
    display: block;
    position: relative;
    width: 33.333333333%;
    height: 100%;
    padding: 25px;
    border-right: 1px solid #d9d9d9;
    box-sizing: border-box;
  }
  div.cta-modules h2 {
  margin-bottom: 15px;
  }
  div.cta-modules p {
  margin-bottom: 20px;
  }
  div.cta-modules button {
  background-color: #c6c6c6;
  box-shadow: 0px 3px 0px #9e9e9e;
  }
  footer {
    height: 8%;
    background-color: black;
    padding: 3px 0px;
    text-align: left;
    box-sizing: border-box;
  }
  .footer-copyright {
    display: block;
    margin: 15px 20px;
  }
}


/*******************************************/
/* TABLET
/*******************************************/

@media (min-width: 601px) and (max-width: 768px) {
  button {
    width: 350px;
  }
  header {
    width: 100%;
    height:125px;
    padding: 20px 2%;
  }
  h1.logo {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }
  header nav ul {
  color: white;
  font-weight: 400;
  text-align: center;
  width: 100%;
  }
  ul.header-nav-ul {
    display: inline;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: right;
  }
  nav ul li {
    display: inline;
    padding-left: 20px;
  }
  #mobile-nav-btn {
    display: none;
    /*visibility: hidden;*/
  }
  .tagline-container {
    display: none;
  }
  .call-to-action-container {
    height: 350px;
    padding: 22px;
    box-sizing: border-box;
  }
  .create-profile {
    float: right;
    padding: 3%;
    height: 70%;
    width: 100%;
    position: relative;
    top: 90px;
    box-sizing: border-box;
  }
  .create-profile button {
    display: block;
    margin: auto;
  }
  .secondary-ctas-container {
    padding: 30px 50px 0px 50px;
    display: flex;
    flex-direction: column;
  }
  .cta-modules {
    display: block;
    height: 100%;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
  }
  .cta-modules button {
    display: block;
    margin: auto;
    background-color: #c6c6c6;
    box-shadow: 0px 3px 0px #9e9e9e;
  }
  footer {
    background-color: black;
    height: 70px;
    padding: 4%;
    text-align: center;
    box-sizing: border-box;
  }
  p.footer-copyright {
    margin: 0px;
  }
  .footer-copyright {
    font-size: .85em;
  }
}


/*******************************************/
/* MOBILE PHONE
/*******************************************/

@media (max-width: 600px) {
  body {
    font-size: 1em;
  }
  h1.logo {
    font-size: 5vw;
    text-align: left;
    width: 100%;
  }
  #mobile-nav-btn {
    display: inline;
    float: right;
  }
  .tagline-container {
    display: none;
  }
  header {
    width: 100%;
    height: 98px;
    padding: 21px 10px;
  }
  header div {
    display: inline;
    float: left;
    height: 100%;
    padding: 8px 0px 5px 10px;
    width: 70%;
  }
  header nav ul {
    display: none;
  }
  .call-to-action-container {
    height: 400px;
    padding: 22px;
    box-sizing: border-box;
  }
  .create-profile {
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .secondary-ctas-container {
    padding: 30px 50px 0px 50px;
    display: flex;
    flex-direction: column;
  }
  .cta-modules {
    display: block;
    height: 100%;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
  }
  .cta-modules button {
    background-color: #c6c6c6;
    box-shadow: 0px 3px 0px #9e9e9e;
  }
  footer {
    background-color: black;
    height: 50px;
    padding: 4% 0px;
    text-align: center;
    box-sizing: border-box;
  }
  p.footer-copyright {
    margin: 0px;
  }
  .footer-copyright {
    font-size: .85em;
  }
}

/*******************************************/
/* ADDITIONAL STYLES
/*******************************************/

